.navbar {
    background: rgb(46, 66, 94);
    transition: all 1.5s ease;   
    height: 145px;
  
}

.twitterstatsimg{
    min-width: 80px;
    width: 30%;
    margin-left: 20px;
}

.secciones {
    margin: 50px;
    font-size: 25px;
}


@media  (min-width:768px) {

    .navbar {

        background: #232D3B;
        transition: all 1.5s ease;

    }
}